.content small {
  color: #9b9b9b;
}

.status {
    padding-bottom: 2em;
    padding-top: 2em;
}

.status-content {
  font-size: 4em;
  position: relative;
  text-align: center;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.status-content::before {
  font-size: 14em;
  line-height: 1px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  display: inline-block;
  position: absolute;
  top: 0.325em;
  left: -0.2em;
  color: rgba(172, 65, 66, 0.3);
  z-index: -100;
  pointer-events: none;
  content: "“";
  overflow: visible;
}

.status-content::after {
  font-size: 14em;
  line-height: 1px;
  transform: scaleX(-1) rotate(150deg);
  -webkit-transform: scaleX(-1) rotate(150deg);
  display: inline-block;
  position: absolute;
  bottom: 0.2em;
  right: -0.2em;
  color: rgba(172, 65, 66, 0.3);
  z-index: -100;
  pointer-events: none;
  content: "”";
  overflow: visible;
}

.status .post-date {
  margin-top: 4em;
  text-align: right;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide .post-date {
  margin-top: 0.5em;
  text-align: right;
}

.mugshot {
  float: left;
  width: 40%;
  min-width: 290px;
  height: auto;
  margin-right: 1em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pagearrow {
  position: fixed;
  color: #9b9b9b;
  line-height: 50%;
  bottom: 0em;
  margin-top: auto;
  height: 100%;
  top: 0em;
  width: 1em;
  text-align: center;
  background-color: rgba(172, 65, 66, 0.2);
  transition: color 0.3s ease-in-out 0.05s, background-color 0.3s ease-in-out 0.05s, left 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out 0.05s, background-color 0.3s ease-in-out 0.05s, left 0.3s ease-in-out;
}

#sidebar-checkbox:checked ~ .leftarrow {
  left: 14rem;
}

.pagearrow:hover {
  color: #fff;
  background-color: #ac4142;
}

.leftarrow {
  left: 0em;
}

.rightarrow {
  right: 0em;
}